{% extends 'layout.html' %}

{% block body %}
<center><div class="jumbotron h-v-center" style="width: 400px">
     <img src="/static/images/marta.png">
     <div class="admin-form">
         <a href="/station-management" class='btn btn-primary btn-block btn-lg'>Station Management</a><p></p>
         <a href="/suspended-cards" class='btn btn-primary btn-block btn-lg'>Suspended Cards</a><p></p>
         <a href="/card-management-admin" class='btn btn-primary btn-block btn-lg'>Card Management</a><p></p>
         <a href="/flow-report" class='btn btn-primary btn-block btn-lg'>Flow Report</a>
 </div></center>
{% endblock %}