{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 650px">
    <div class="panel-heading"><b>Breezecard Management</b></div>
    <div class="panel-body">
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="form-inline">
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Owner:</span>
            {{render_field(form.owner, class_="form-control input-sm")}}
            <span class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Show suspended cards</span><p></p>
            </span>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Card number:</span>
            {{render_field(form.number, class_="form-control input-sm")}}
            <a class='btn btn-primary btn-sm'>Reset</a><p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Value between:</span>
            {{render_field(form.value_upper, style="width: 66px", class_="form-control input-sm")}}
            <span>and</span>
            {{render_field(form.value_lower, style="width: 66px", class_="form-control input-sm")}}
            <a class='btn btn-primary btn-sm'>Update Filter</a> <p></p>
        </div>
    </form>
    <form method="POST" action="" class="form-inline">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Card #</th>
                    <th>Value</th>
                    <th>Owner</th>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr class="clickable-row">
                        <td>{{ card.BreezecardNum }}</td>
                        <td>${{ card.Value }}</td>
                        <td>{{ card.Owner }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <p></p>    
        <div class="form-group">
            {{render_field(form.set_value, class_="form-control input-sm")}}
            <a class="btn btn-primary btn-sm" style="width: 165px;">Set Value of Selected Card </a><p></p>
        </div>
        <div class="form-group">
            {{render_field(form.transfer_to, class_="form-control input-sm")}}
            <a class="btn btn-primary btn-sm" style="width: 165px;">Transfer Selected Card</a>
        </div>
    </form>
    </div>
</div>
{% endblock %}