{% extends 'layout.html' %}

{% block body %}
<div>
<div class="panel panel-default h-v-center" style="width: 500px;">
    <div class="panel-heading"><b>Manage Cards</b></div>
    <div class="panel-body">
    {% from "includes/_formhelpers.html" import render_field %}
        <label>Breeze Cards</label>
        <div class="form-group">
            <div class="table-responsive" style="max-height: 170px;">
                <table class="table table-bordered table-hover" id="cards-table" data-toggle="table" data-sort-order="desc">
                    <thead>
                        <th data-sortable="true">Card Number</th>
                        <th data-sortable="true">Value ($)</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for card in cards %}
                        <tr class="clickable-row">
                            <td>{{ card.BreezecardNum }}</td>
                            <td>{{ card.Value }}</td>
                            <td id="{{card.BreezecardNum}}-rmv" name="{{card.BreezecardNum}}"><a>Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <p></p>
        <form method="POST" action="" class="form-inline">
            <div class="form-group">
                {{render_field(form.number, class_="form-control input-sm")}}
                <button class='btn btn-primary btn-sm' type="submit" name="action" value="add-card">Add Card</button><p></p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Add Value to Selected Card</div>
                <div class="panel-body">
                    <div class="form-group">
                        <span style="display: inline-block; width: 90px;">Credit Card #</span>
                        {{render_field(form.creditCard, type='number', id="cc-number", class_="form-control input-sm")}} <p></p>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <span style="display: inline-block; width: 90px;">Value</span>
                        {{render_field(form.value, id="value", class_="form-control input-sm")}}
                        <button id="add-value-button" class='btn btn-primary btn-sm' style="float: right" type="submit" name="action" value="add-value">Add Value</button><p></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>

<script>
var breezecard = null;
var value = null;
//var remove

$('#cards-table').on('click', '.clickable-row', function(event) {
    $(this).removeClass('active');
    $(this).addClass('selected').siblings().removeClass('selected');
    breezecard = $(this).find('td:first-child').text()
});

$('#add-value-button').click(function(e) {
    addValue();
    e.preventDefault();
});

function addValue() {
    value = $('#value').val();
    $.ajax({
        type: 'POST',
        url: '/add-value-passenger',
        type: 'POST',
        data: {
            breezecard : breezecard,
            value : value
        },
        success: function(response) {
            var newValue = response.slice(1, -1);
            $('.selected td:nth-child(2)').text(newValue)
        }
    });
}

// alert($('#cc-number').val())
// $('#cc-number').onchange = function() {
//     if $('#cc-number').val().length == 16 {
//         $('#value').prop('disabled', false);
//     }
// };
</script>
{% endblock %}