{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 650px">
    <div class="panel-heading"><b>Breezecard Management</b></div>
    <div class="panel-body">
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="form-inline">
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Owner:</span>
            {{render_field(form.owner, class_="form-control input-sm")}}
            {{render_field(form.show_suspended, class_="radio")}}
            <span>Show suspended</span> <p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Card number:</span>
            {{render_field(form.number, class_="form-control input-sm")}}
            <button class="btn btn-primary btn-sm" id="reset-button" type="submit" name="action" value="reset">Reset</button> <p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Value between:</span>
            {{render_field(form.value_upper, style="width: 64px", class_="form-control input-sm")}}
            <span>and</span>
            {{render_field(form.value_lower, style="width: 64px", class_="form-control input-sm")}}
            <input class="btn btn-primary btn-sm" type="submit" name="action" value="Update Filter"> <p></p>
        </div>
    </form>
    <form method="POST" action="" class="form-inline">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-bordered table-hover" id="card-management-table">
                <thead>
                    <th>Card #</th>
                    <th>Value</th>
                    <th>Owner</th>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr class="clickable-row">
                        <td>{{ card.BreezecardNum }}</td>
                        <td>${{ card.Value }}</td>
                        <td>{{ card.Owner }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <p></p>
        <div class="form-group">
            {{render_field(form.set_value, id="set-value", class_="form-control input-sm")}}
            <button id="new-value-button" class="btn btn-primary btn-sm" type="submit" name="action" style="width: 165px;">Set Value of Selected Card </button><p></p>
        </div>
        <div class="form-group">
            {{render_field(form.transfer_to, id="transfer-to", class_="form-control input-sm")}}
            <button id="transfer-to-button" class="btn btn-primary btn-sm" type="submit" name="action" style="width: 165px;">Transfer Selected Card</a>
        </div>
    </form>
    </div>
</div>


<script>
var number = null;
$('#card-management-table').on('click', '.clickable-row', function(event) {
    $(this).removeClass('active');
    $(this).addClass('selected').siblings().removeClass('selected');
    number = $(this).find('td:first-child').text();
});

$('#new-value-button').click(function(e) {
    setValue();
    e.preventDefault();
})

$('#transfer-to-button').click(function(e) {
    transferOwner();
    e.preventDefault();
})

function setValue() {
    $.ajax({
        type: 'POST',
        url: '/set-value',
        data: {
            number : number,
            setValueTo : $('#set-value').val()
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function transferOwner() {
    $.ajax({
        type: 'POST',
        url: '/transfer-owner',
        data: {
            number : number,
            transferTo : $('#transfer-to').val()
        },
        error: function(error) {
            console.log(error);
        }
    });
}

</script>
{% endblock %}