{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 350px">
    <div class="panel-heading"><b>Create Station</b></div>
    <div class="panel-body">
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="form-inline">
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Station Name</span>
            {{render_field(form.name, style="width: 200px", class_="form-control input-sm")}} <p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Stop ID</span>
            {{render_field(form.stopId, style="width: 200px", class_="form-control input-sm")}} <p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Entry Fare</span>
            {{render_field(form.fare, style="width: 200px", class_="form-control input-sm")}} <p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px">Station Type</span>
            {{render_field(form.isTrain, style="list-style: none; padding: 0;", class_="radio")}}<p></p>
        </div>
        <div class="form-group">
            <span style="display: inline-block; width: 100px"></span>
            {{render_field(form.intersection, disabled = 'true', style="width: 200px;", class_="form-control input-sm")}}
        </div>
        <div class="form-group">
            {{render_field(form.closedStatus, class_="radio")}}
            <span>Open station</span> <br>
            <span><small>When checked, passengers can enter at this station.</small></span> <p></p>
        </div>
        <center><input class="btn btn-primary" type="submit" name="action" value="Create Station"></center>
    </form>
    </div>
</div>

<script>
$('#isTrain-1').click(function(e) {
    $('#intersection').prop('disabled', false);
});

$('#isTrain-0').click(function(e) {
    $('#intersection').prop('disabled', true);
});
</script>
{% endblock %}