<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class='content-container'>
        <div class='welcome-box'>
            <center>
                <h2>Welcome to MARTA!</h2>
                <p>Log in</p>
                <input type-"text" placeholder="email"/>
                <input type-"text" placeholder="password"/>
                <div class="buttons">
                    <form action ='/login/' method='GET'>
                        <input type="submit" name="submit" value="Sign in"/>
                    </form>
                    <form action ='/register/' method='GET'>
                        <input type="submit" name = "submit" value="Register">
                    </form>
                </div>
            </center>
        </div>
    </div>
    <script src="index.js"/>
</body>
</html>