<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MARTA</title>
 </head>

</head>
<body>
    <div class="login-page">
        <div class="form">
            <img src="{{url_for('static', filename='images/marta.png')}}">
            <div class="admin-form">
                <div class="breeze-card">
                    <p>Breeze Card</p>
                    <Select>
                        <option value="1">0000 0000 0000 0000</option>
                        <option value="2">0000 0000 0000 0001</option>
                    </Select>
                </div>
                <div class="balance">
                    <p>Balance</p>
                    <p>$15.00</p>
                </div>
                <div class="start-trip">
                    <p>Starting at</p>
                    <p>North Springs - $2.50</p>
                    <p>Begin Trip</p>
                </div>
                <div class="end-trip">
                    <p>Ending at</p>
                    <p>Midtown</p>
                    <p>End Trip</p>
                </div>
                <p class="message"><a type=submit href="{{ url_for('card_management_passenger') }}">Manage cards</a></p>
                <p class="message"><a type=submit href="{{ url_for('trip_history') }}">View Trip History</a></p>
                <p class="message"><a type=submit href="{{ url_for('index') }}">Log Out</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/admin.js')}}"></script>
</body>