{% extends 'layout.html' %}

{% block body %}
<div class="alert alert-danger" id="low-on-money" style="display: none;">
  You don't have enough money on your Buzzcard for this trip.
</div>
<div class="panel panel-default h-v-center" style="width: 500px">
    <div class="panel-heading"><b>Welcome to MARTA</b></div>
        <div class="panel-body">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="" class="form-inline">
                <div class="form-group">
                    <span style="display: inline-block; width: 100px">Breeze Card</span>
                    <select name="breezecard" class="form-control input-sm" style="width: 200px" id="breezecard">
                        {% for breezecard in breezecards %}
                            <option value={{ breezecard.BreezecardNum }}>{{  breezecard.BreezecardNum }}</option>
                        {% endfor %}
                    </select>
                    <a href="/card-management-passenger" style="text-decoration: none;">Manage Cards</a> <p></p>
                </div>
                <div class="form-group">
                    <span style="display: inline-block; width: 100px">Balance</span>
                    $<span id="breezecard-value"></span> <p></p>
                </div>
                <div class="form-group">
                    <span style="display: inline-block; width: 100px; ">Starting at</span>
                    {{render_field(form.start, id="start", style="width: 200px", class_="form-control input-sm")}}
                    <a class="btn btn-link" style="text-decoration: none; padding: 0" id="begin-trip">Begin Trip</a> <p></p>
                </div>
                <div class="form-group">
                    <span style="display: inline-block; width: 100px">Ending at</span>
                    {{render_field(form.end, style="width: 200px", class_="form-control input-sm")}}
                    <a class="btn btn-link" style="text-decoration: none; padding: 0; display: none" id="end-trip">End Trip</a> <p></p>
                </div>
                <center><div class="form-group">
                    <a href="/trip-history">View Trip History</a>
                </div></center>
            </form>
        </div>
    </div>
 </div>

<script>
$(function () {
    changeValue();
    $('#breezecard').change(changeValue);
});

function changeValue() {
    $.ajax({
        url: '/change-breezecard',
        data: $('#breezecard').serialize(),
        type: 'POST',
        success: function(response) {
            var response = response.slice(1, -1);
            $('#breezecard-value').text(response);
        },
    });
}

$('#begin-trip').click(function(e) {
    startTrip();
    $('#start-trip').prop('disabled', true);
    $(this).text('Trip in Progress');
    $(this).css('color', 'green');
    $(this).css('cursor', 'default');
    $(this).prop('disabled', true);
    $('#end-trip').css('display', 'inline-block');
});

$('#end-trip').click(function(e) {
    $('#start-trip').prop('disabled', false);
    $('#begin-trip').text('Begin Trip');
    $('#begin-trip').css('cursor', 'pointer');
    $('#begin-trip').css('color', '#428BCA');
    $('#begin-trip').prop('disabled', false);
    $(this).css('display', 'none');
    endTrip();
});

function startTrip() {
    $.ajax({
        type : 'POST',
        url : '/begin-trip',
        data : {
            balance : $('#breezecard-value').text(),
            breezecard : $('#breezecard').val(),
            start : $('#start').val()
        },
        success: function(response) {
            if(response == '"low"') {
                $('#low-on-money').css("display", "inline-block")
                $('#low-on-money').css("width", "100%")
                $('#start-trip').prop('disabled', false);
                $('#begin-trip').text('Begin Trip');
                $('#begin-trip').css('cursor', 'pointer');
                $('#begin-trip').css('color', '#428BCA');
                $('#begin-trip').prop('disabled', false);
                $('#end-trip').css('display', 'none');
            }
            else {
                var newValue = response.slice(1, -1);
                $('#low-on-money').css("display", "none")
                $('#breezecard-value').text(newValue);
            }
        },
        error: function(e) {
            console.log(e);
        }
    });
}

function endTrip() {
    $.ajax({
        type: 'POST',
        url: '/end-trip',
        data: {
            breezecard : $('#breezecard').val(),
            end : $('#end').val(),
            start : $('#start').val()
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endblock %}
