{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <img src="{{url_for('static', filename='images/marta.png')}}">
    {% from "includes/_formhelpers.html" import render_field %}
    <form class="register-form" method="POST" action="">
        {{render_field(form.username, class_="form-control")}}
        {{render_field(form.email, class_="form-control")}}
        {{render_field(form.password, class_="form-control")}}
        {{render_field(form.confirm, class_="form-control")}}
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" value="existing" autocomplete="off" checked> Existing Card
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" value="new" autocomplete="off"> New Card
            </label>
        </div> <p></p>
        {{render_field(form.breezecard, class_="form-control", id="number")}}
        <div id="next-button"><button type="submit">Register</button></div>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
</div>

<script>
$("input[type='radio']").change(function() {

    if($(this).val()=="existing")
    {
        $("#number").val("");
        $("#number").show();
    }
    else
    {
        $("#number").hide();
        $("#number").val("1111111111111111");
    }
});
</script>
{% endblock %}
