{% extends 'layout.html' %}

{% block body %}
<center><div class="panel h-v-center" style="width: 400px">
    <div class="panel-body">
        <img src="/static/images/marta.png" style="width: 300px">
        {% from "includes/_formhelpers.html" import render_field %}
        <form class="register-form" method="POST" action="" style="width: 250px">
            {{render_field(form.username, class_="form-control")}}
            {{render_field(form.email, class_="form-control")}}
            {{render_field(form.password, class_="form-control")}}
            {{render_field(form.confirm, class_="form-control")}} <p></p>
            <div class="btn-group" data-toggle="buttons" style="margin-bottom: 10px">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" value="existing" autocomplete="off" checked> Existing Card
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" value="new" autocomplete="off"> New Card
                </label>
            </div>
            {{render_field(form.breezecard, class_="form-control", id="number")}} <p></p>
            <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Register</button> <p></p>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div></center>

<script>
$("input[type='radio']").change(function() {

    if($(this).val()=="existing")
    {
        $("#number").val("");
        $("#number").show();
    }
    else
    {
        $("#number").hide();
        $("#number").val("1111111111111111");
    }
});
</script>
{% endblock %}
