{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <img src="{{url_for('static', filename='images/marta.png')}}">
    {% from "includes/_formhelpers.html" import render_field %}
    <form class="login-form" method='POST' action="">
        <input placeholder = "username" type="text" name="username" class="form-control" value={{request.form.username}}>
        <input placeholder = "email" type="text" name="email" class="form-control" value={{request.form.email}}>
        <input placeholder = "password" type="password" name="password" class="form-control" value={{request.form.password}}>
        <input placeholder = "confirm" type="password" name="confirm" class="form-control" value={{request.form.confirm}}>
        <button type="submit">Create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
</div>
{% endblock %}
