{% extends 'layout.html'%}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 600px">
    <div class="panel-heading"><b>Station Management</b></div>
    <div class="panel-body">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-bordered table-hover" id="station-table" data-toggle="table" data-sort-order="desc">
                <thead clas>
                    <th data-sortable="true">Station Name</th>
                    <th data-sortable="true">Stop ID</th>
                    <th data-sortable="true">Fare ($)</th>
                    <th data-sortable="true">Status</th>
                </thead>
                <tbody>
                    {% for station in stations %}
                    <tr class="clickable-row">
                        <td>{{ station.Name }}</td>
                        <td>{{ station.StopID }}</td>
                        <td>{{ station.Fare }}</td>
                        {% if station.ClosedStatus == 0 %}
                            <td>Open</td>
                        {% elif station.ClosedStatus == 1%}
                            <td>Closed</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <p></p>
        <center>
            <form method="get">
                <a href="/create-station" class='btn btn-primary' style="width: 120px">Create Station</a>
                <a href="" id="view-station" class='d-inline btn btn-primary' style="width: 120px">View Station</a>
            </form>
        </center>
    </div>
<script>
$('#station-table').on('click', '.clickable-row', function(event) {
    $(this).removeClass('active');
    $(this).addClass('selected').siblings().removeClass('selected');
    var stopId = $(this).find('td:nth-child(2)').text();
    var href = "/station-detail/" + stopId;
    $('#view-station').attr('href', href)
});

$('#view-station').on('click', function(e) {
    alert($SCRIPT_ROOT + "/station-detail/" + stopId)
    location.href = ("http://stackoverflow.com");
    window.location.replace("/station-detail/" + stopId);
})

</script>
{% endblock %}
