{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 500px">
    <div class="panel-heading"><b>Station Detail - {{station.Name}} </b></div>
    <div class="panel-body">
    {% from "includes/_formhelpers.html" import render_field %}
        <div class="d-inline">
            <h3 style="display: inline; margin-top: 0px;">{{ station.Name }}</h3>
            <span style="float: right;">Stop {{ station.StopID }}</span>
            <p></p>
        </div>
        <form class="form-inline">
            <div class="form-group">
                <span style="display: inline-block; width: 100px">Fare</span>
                {{render_field(form.fare, style="width: 100px", class_="form-control input-sm")}}
                <a href="">Update Fare</a><p></p>
            </div>
            <div class="form-group">
                <span style="display: inline-block; width: 100px">Nearest Intersection</span>
                {% if station.IsTrain %}
                    <small>Not available for train stations.</small> <p></p>
                {% else %}
                     <span>{{ station.Intersection }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <span class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Open station</span> <br>
                    <span><small>When checked, passengers can enter at this station.</small></span>
                </span>
            </div>
        </form>
    </div>
</div>{% endblock %}
