{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 700px">
    <div class="panel-heading"><b>Suspended Cards</b></div>
    <div class="panel-body">
        <div class="table-responsive" style="max-height: 300px">
        <table class="table table-bordered table-hover" id="suspended-cards-table" data-toggle="table" data-sort-order="desc">
            <thead>
                <th data-sortable="true">Card #</th>
                <th data-sortable="true">New Owner</th>
                <th data-sortable="true">Date Suspended</th>
                <th data-sortable="true">Previous Owner</th>
            </thead>
            <tbody>
               {% for card in cards %}
                <tr class="clickable-row">
                    <td>{{ card.BreezecardNum }}</td>
                    <td>{{ card.NewOwner }}</td>
                    <td>{{ card.DateSuspended }}</td>
                    <td>{{ card.PreviousOwner }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div><p></p>
        <center>
            <form method="post" action = "">
                <button id="new-owner-button" class="btn btn-primary" type="submit" name="action">Assign Selected Card to New Owner</button>
            </form> <p></p>
            <form method="post" action ="">
                <button id="previous-owner-button" class="btn btn-primary" type="submit" name="action">Assign Selected Card to Previous Owner</button>
            </form> <p></p>
            <div style="font-size: 12px;">Assigning the card to an Owner will unlock all accounts conflicted on the same Breezecard</div>
        </center>
    </div>
</div>

<script>
var number = null;
var newOwner = null;
var previousOwner = null;
var assignToNew = null;
$('#suspended-cards-table').on('click', '.clickable-row', function(event) {
    $(this).removeClass('active');
    $(this).addClass('selected').siblings().removeClass('selected');
    number = $(this).find('td:first-child').text();
    newOwner = $(this).find('td:nth-child(2)').text();
    previousOwner = $(this).find('td:last-child').text();
});

$('#new-owner-button').click(function(e) {
    assignToNew = 1;
    assignOwner();
    e.preventDefault();
})

$('#previous-owner-button').click(function(e) {
    assignToNew = 0;
    assignOwner();
    e.preventDefault();
})

function assignOwner() {
    $.ajax({
        type: 'POST',
        url: '/assign-owner',
        data: {
            number : number,
            newOwner : newOwner,
            previousOwner : previousOwner,
            assignTo : assignToNew
        },
        error: function(error) {
            console.log(error);
        }
    });
}

</script>
{% endblock %}
