{% extends 'layout.html' %}

{% block body %}
<div class="panel panel-default h-v-center" style="width: 700px">
    <div class="panel-heading"><b>Trip History</b></div>
    <div class="panel-body">
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action= "" class="form-inline">
            <div class="form-group" style="width: 100%">
                <span style="display: inline-block; width: 100px">Start Time</span>
                {{render_field(form.start, class_="form-control input-sm")}}
                <input class="btn btn-primary btn-sm" type="submit" name="action" value="Update Filter"> <p></p>
            </div>
            <div class="form-group" style="width: 100%">
                <span style="display: inline-block; width: 100px">End Time</span>
                {{render_field(form.end, class_="form-control input-sm")}}
                <button class="btn btn-primary btn-sm" id="reset-button" type="submit" name="action" value="reset">Reset</button> <p></p>
            </div>
        </form>
            <table class="table table-bordered table-hover" id="trip-history-table" data-toggle="table" data-sort-order="desc">
                <thead>
                    <th data-sortable="true">Time</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Fare Paid</th>
                    <th>Card #</th>
                </thead>
                <tbody>
                    {% for trip in trips %}
                    <tr>
                        <td>{{ trip.StartTime }}</td>
                        <td>{{ trip.StartName }}</td>
                        <td>{{ trip.EndName }}</td>
                        <td>${{ trip.Fare }}</td>
                        <td>{{ trip.BreezecardNum }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}